{{>header }}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="text-start">Welcome to chat app</h1>
            <p class="text-start fw-lighter">Here you can chat with other users, create rooms or join existing ones. Flood, off-topic conversation, distracts colleagues. Of course, non-work related content can defuse the situation, but for this it is better to have a separate chat where important messages will not be confused with informal ones.</p>
        </div>
    </div>
</div>