<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form method="post" action="/logout">
                <h3>Do you really want to logout?</h3>
                <button type="submit" class="btn btn-primary">Yes</button> <a href="/" class="link-primary m-3">No</a>
            </form>
        </div>
    </div>
</div>