<div>
    <form method="post" action="/signup">
        <input type="text" name="name" />
        <input type="email" name="email" />
        <input type="password" name="password" />
        <button>signup</button>
    </form>
</div>